[submodule "yapb"]
	path = yapb
	url = https://github.com/jeefo/yapb

[submodule "android/extras_src/extras"]
	path = android/extras_src/extras
	url = https://bitbucket.org/SergioPoverony/cs16client-vgui-menus
